/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
#map{
    width: 100%;
    height:800px;
}
.options{
    display: none;
}
.placemarks{
    display: none;
}